.main {
  min-height: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #efecec;
}

.post {
  width: 300px;
  height: 200px;
  background-color: #fafafa;
  margin: 4px;
}

.title {
  font-size: 18px;
}
.description {
  font-size: 14px;
}
